@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans:wght@300&display=swap');
@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.login {
  @include absoluteLeft(50%, 50%);
  @include flexColumn;
  @include widthHeight(350px, 400px);
  align-items: center;
  margin: auto;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(219, 219, 219);
  border-radius: 1px;

  .title {
    margin: 30px 0;
    font-family: $logoFont;
    text-align: center;
    font-size: 3em;
  }

  .idInput {
    margin-top: 15px;
  }

  input {
    @include widthHeight(75%, 36px);
    margin: 5px 0;
    padding: 0px 8px;
    border: 1px solid rgb(219, 219, 219);
    background-color: #fafafa;
    border-radius: 3px;
  }

  button {
    @include widthHeight(200px, 30px);
    margin: 8px 0;
    border: 1px rgba(202, 224, 249, 1) solid;
    border-radius: 3px;
    color: white;
    background-color: #4cb5f9;
    opacity: 0.5;
  }

  .ask {
    position: absolute;
    bottom: 20px;
    font-size: 14px;
    text-decoration: none;
    color: rgb(0, 55, 107);
  }
}

//  #login_btn_disabled {
//    background-color: #4cb5f9;
//    border: 1px rgba(202, 224, 249, 1) solid;
//    opacity: 0.5;
// }

// #login_btn {
//   background-color: #0095f6;
//   border: #0095f6;
//   margin: 8px 0;
//   color: white;
//   height: 30px;
//   opacity: 1;
//   border-radius: 3px;
// }
