@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans:wght@300&display=swap");
@import "../../styles/variables.scss", "../../styles/mixin.scss",
  "../../styles/reset.scss", "../../styles/common.scss";

header {
  width: 100%;
  position: fixed;
  background-color: $whiteColor;
}

#nav-bar {
  @include flexCenter(center, space-between);
  @include widthHeight(85%, 60px);
  padding: 0 10px;
  margin: auto;
  position: relative;
}

.logo {
  @include flexCenter(center, null);
  padding-left: 10px;

  img {
    @include widthHeight(30px, 90%);
    margin-right: 20px;
  }

  a {
    border-left: solid 1px rgb(0, 0, 0);
    padding-left: 20px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: $logoFont;
  }
}

.searchBar {
  position: relative;
  width: 300px;

  .faMagnifyingGlass {
    @include absoluteLeft(5px, 30px);
    width: 10px;
  }
}

.resultBoxTriangle {
  @include widthHeight(0, 0);
  @include triangle($backgroundColor);
  @include absoluteLeft(23px, 50%);

  .none {
    display: none;
  }
}

.resultBox {
  @include absoluteLeft(20px, calc(50% - 150px));
  @include flexColumn;
  width: 100%;
  background-color: $backgroundColor;
  z-index: 1;
  padding: 0 $headerSizeSide;

  li {
    @include flexCenter(center, none);
    width: 100%;
    padding: $accountInfoTop $headerSizeSide;
    position: relative;
  }
}

.filtered-image {
  @include widthHeight(30px, 30px);
  border-radius: 50%;
}

.result-account {
  @include flexColumn;
  height: 100%;
  padding: 0 $accountLeftSize;

  p {
    @include nthChild;
  }
}

.searchBar input {
  @include widthHeight(100%, 25px);
  text-align: center;
  background-color: $backgroundColor;
}

.nav-right img {
  @include widthHeight(30px, 90%);
  margin: 0px 5px;
}

.navProfileMenuBar {
  @include absoluteRight(70px, 8%);
  padding-left: 0;
  margin: 0;
  border: 1px solid $whiteColor;
  border-radius: 2px;
}

.navProfileMenu {
  padding: 5px 60px 5px 20px;
  text-align: start;
  z-index: 1;
  background-color: $whiteColor;

  span {
    padding: 10px 0 5px 10px;
  }

  &:last-child {
    border-top: 1px solid $borderColor;
  }

  &.disabled {
    display: none;
  }

  .navProfileTriangle {
    @include widthHeight(0, 0);
    @include triangle($whiteColor);
    @include absoluteRight(60px, 9%);
  }
}

main {
  @include flexCenter(null, center);
  padding: 80px $spacing 60px $spacing;
  background-color: $backgroundColor;
  height: 100%;
}

.feeds {
  @include widthHeight(35%, 90%);
  border: 1px solid $borderColor;
  margin: 0 20px;
  background-color: $whiteColor;
}

.top {
  @include flexCenter(center, space-between);
  padding: $headerSizeTop $headerSizeSide;
}

.topLogo {
  @include flexCenter(center, space-between);

  img {
    @include widthHeight(30px, 30px);
    border-radius: 50%;
  }

  span {
    padding-left: $accountLeftSize;
    font-weight: 600;
  }
}

.image {
  img {
    @include widthHeight(100%, 600px);
  }
}

.feed-icons {
  @include flexCenter(center, space-between);
  @include widthHeight(100%, 35px);
  padding: 0 $headerSizeSide;

  .faHeart,
  .faComment,
  .faBookmark,
  .faArrowUpFromBracket {
    @include fontAwesome;
  }
}

.likes {
  @include flexCenter(center, null);
  padding: $headerSizeTop $headerSizeSide;

  img {
    @include widthHeight(30px, 30px);
    border-radius: 50%;
    display: inline-block;
  }

  span {
    padding-left: $accountLeftSize;
  }

  .likesInfo {
    padding-left: 0;
    font-weight: 600;
  }
}

.contents {
  padding: $headerSizeTop $headerSizeSide;

  span:first-child {
    font-weight: 600;
  }

  span {
    &:nth-child(3) {
      color: $grayColor;
    }
  }

  div {
    font-size: 12px;
    color: rgb(115, 115, 115);
  }
}

.commentList {
  padding: 0 $headerSizeSide;
  margin: 2px 0;

  li {
    padding-left: 0px;
    margin-left: 5px;
    position: relative;
    word-wrap: break-word;
  }

  button {
    margin: 0 5px 0 10px;
    @include absoluteRight(0, 20px);
  }

  .faHeart {
    @include absoluteRight(4px, 10px);
    margin-left: 100px;
  }
}

span.comment-account {
  font-weight: 600;
}

.comment {
  @include flexCenter(center, null);
  padding: $headerSizeTop $headerSizeSide;
  width: 100%;
  text-align: center;
  position: relative;

  input {
    @include widthHeight(100%, 30px);
    padding-left: 5px;
  }

  button {
    @include absoluteRight(10px, $headerSizeSide);
    bottom: $headerSizeTop;
    font-weight: bold;
  }
}

.main-right {
  @include flexCenter(center, null);
  @include widthHeight(30%, 90%);
  margin: 0 20px;
  flex-direction: column;
}

.account {
  @include flexCenter(center, null);
  width: 80%;
  padding: $headerSizeTop 0;

  img {
    @include widthHeight(40px, 40px);
    border-radius: 50%;
  }
}

.account-info {
  @include flexColumn;
  height: 100%;
  padding: 0 $accountLeftSize;

  p {
    margin: 0;
    @include nthChild;
  }
}

.story {
  background-color: #ffffff;
  border: 1px solid $borderColor;
  width: 80%;
  margin-top: 20px;
}

.story-header {
  @include flexCenter(center, space-between);
  padding: $headerSizeTop $headerSizeSide;

  p {
    margin: 0;
    font-weight: 600;
  }

  span {
    color: $grayColor;
  }
}

.story-list {
  padding: 0 $headerSizeSide;

  li {
    @include flexCenter(center, null);
    padding: $accountInfoTop $headerSizeSide;
  }

  img {
    @include widthHeight(30px, 30px);
    border-radius: 50%;
  }
}

.account-detail {
  margin: 0 $accountLeftSize;

  p {
    @include nthChild;
  }
}

.recommend {
  background-color: #ffffff;
  margin-top: 20px;
  border: 1px solid $borderColor;
  width: 80%;
}

.recommend-header {
  @include flexCenter(center, space-between);
  padding: $headerSizeTop $headerSizeSide;

  p {
    margin: 0;
    font-weight: 600;
  }

  span {
    color: $grayColor;
  }
}

.recommend-list {
  padding: 0 $headerSizeSide;

  li {
    @include flexCenter(center, null);
    width: 100%;
    padding: $headerSizeTop $headerSizeSide;
    position: relative;
  }
}

.recommend-account {
  @include flexColumn;
  height: 100%;
  padding: 0 $accountLeftSize;

  p {
    @include nthChild;
  }
}

.recommend-list {
  img {
    @include widthHeight(30px, 30px);
    border-radius: 50%;
  }

  button {
    color: rgb(0, 149, 246);
    @include absoluteRight(0, $headerSizeSide);
  }
}

.footer {
  width: 80%;
  margin-top: 20px;
  color: rgb(199, 199, 199);
}
