@media (max-width: 900px) {
  .feeds {
    width: 100%;
    margin: 0;
  }

  .main-right {
    display: none;
  }
}

* {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  position: relative;
}
